<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>Shortly | {% block title %}{% endblock %}</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
</head>
<body>
    {% include 'appshortly/_partial/header.html' %}
    <div class="container">
        {% block popular %}
        {% endblock %}

        {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}

        {% block body %}
        {% endblock %}
    </div>
</body>
</html>