{% extends "appshortly/base.html" %}
{% block title %} Shortly: Details by {{ url.url }}{% endblock %}
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="btn-toolbar">
                <h2>Detail:</h2>
            </div>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon" style="min-width:100px;">{{form.url.label}}</span>
                <input type="text" class="form-control" value="{{ form.url.value }}" readonly name="url">
            </div>
            <div class="input-group">
                <span class="input-group-addon"  style="min-width:100px;">Short URL:</span>
                <input type="text" class="form-control" value="{{ host_name }}/{{ url_id }}"  readonly>
            </div>
            <div class="input-group">
                <span class="input-group-addon"  style="min-width:100px;">Clicked:</span>
                <input type="text" class="form-control" value="{{ form.clicked.value }} count" readonly>
            </div>

        </div>
    </div>
{% endblock %}
