{% extends "appshortly/base.html" %}
{% block title %} Shortly - most popular links{% endblock %}
{% block popular %}
    {% include 'appshortly/_partial/popular.html' %}
{% endblock %}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2> Add new url:</h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="/" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <span for="url" class="input-group-addon">{{ form.url.label }}</span>
                    <input type="text" class="form-control" id="url" placeholder="Enter url" name="url">
                    {{ form.url.errors }}
                    <input type="text" name="clicked" hidden="hidden" value="{{ form.clicked.value}}">
                    <button type="submit" class="btn btn-info btn-block">Create short url</button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
